*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Regole */
img{
    max-height: 100%;
    display:block;
}

ul{
    list-style: none;
}

a{
    text-decoration-line: none;
}

button{
    background-color: #0061ff;
    color: #ffffff;
    padding:10px 15px;
    border: none;
}
/* HEADER */
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px;
}

header{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
}


 header a{
    text-decoration-line: none;
    color: #000000;
}

header div{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

header ul{
 display: flex;
 gap:30px;
}

/* FINE HEADER */

/* MAIN */

.container-immagine{
    background-color: #b4d0e6;
    height: 740px;
    width: 100%;
    display: flex;
    padding:105px 340px 0px 340px;
    position:relative;
}

.container-testo{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap:20px;
    padding: 50px 0px;
    width: 380px;
    height: 400px;
}

div > h1 {
    font-size: 60px;
    font-weight:bold;
}

span > p {
font-size:20px;
}

.big-arrow{
    font-size:45px;
    padding-top:75px;
}

jumbotron {
    position:absolute;
    height: 460px;
    right:430px;
    right: 10px;
    top: 295px;
}
/* FINE MAIN */

/* FOOTER */
/* FINE FOOTER */